/*
TODO: Fit layout to align with plan.
*/

.unit-container {
    float: left;
    height: 410px;
    width: 200px;
    border-radius: 5px;
}

#attacker {
    background-color: cornflowerblue;
}

#defender {
    background-color: indianred;
}

.buttons-container {
    float: left;
    height: 400px;
    width: 130px;
}

.unit-portrait-container {
    height: 100px;
    width: 100px;
}

.unit-portrait {
    display: block;
    margin: auto;
}

.unit-input {
    float: left;
    clear: both;
    height: 50px;
    width: 530px;
}

.unit-input > label {
    float: left;
    clear: left;
}

#battle-log-container {
    clear: both;
}