/*
TODO: Fit layout to align with plan.
*/

.unit-container {
    float: left;
    height: 410px;
    width: 200px;
    border-radius: 5px;

    text-align: center;
}

#attacker {
    background-color: cornflowerblue;
}

#defender {
    background-color: indianred;
}

.buttons-container {
    float: left;
    height: 400px;
    width: 75px;
}

button {
    display: block;
    margin: auto;
}

.unit-portrait-container {
    height: 90px;
    width: 100px;
    margin: auto;
}

.unit-portrait {
    display: block;
    margin: auto;
}

.unit-input {
    float: left;
    clear: both;
    height: 50px;
    width: 530px;
}

.unit-input > label {
    float: left;
    clear: left;
}

#battle-log-container {
    clear: both;
}

.flip-horizontal {
    /*
    Edited from form found on Stack Overflow.
    http://stackoverflow.com/a/1309268
    */
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}